/*Cover image.*/
.mainimage {
height: 400px;
background-image: url("../images/main.jpeg");

}
/*Assigning a background color to <body> element.*/
body {
    background-color: teal;   
}
/*Assigning a font family to all <h1> elements.*/
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Assigning a color to all <h1> elements.*/
h1 {
    color:#fff;
    text-align: left;
}
/*Assigning a font family to all <h3> elements.*/
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Assigning a color to all <h3> elements.*/
h3 {
    color: white;
}
/*Assigning a font family to all <div> elements.*/
div {
    font-family: serif, Arial, Helvetica, sans-serif
}
/*Assigning a color to all <div> elements.*/
div {
    color: white;
}

#menuBG { /*Menu background position*/
	width:400px;
	height:470px;
	margin:10px auto;
	}

#frmMenu { /*Form menu*/
	width:600px;
	height:200px;
	}

#totalPrice { /*Total price*/
	width:200px;
	height:190px;
	margin:20px auto;
	float:right;
	}

.left { /*items float left*/
	width:200px;
	height:200px;
	float:left;
	}

.center { /*Items float left*/
	width:200px;
	height:200px;
	float:left;
	}
	
.right { /*Items float right*/
	width:200px;
	height:200px;
	float:right;
	}

#showText {
	width:200px;
	height:190px;
	margin:0px auto;
	float:left;
	}
		
#cart { /*Items cart*/
	top:0;margin:0px auto;
	width:400px;
	height:200px;
    }
	
#btnOrder { /*Order button*/
	margin:10px 0px 0px 100px;
	width:100px;
	height:40px;
	display: block;
	margin: 25px auto;
	}
